@model IndexViewModel 
<div class="pages">
    @if (Model.PageNumber > 1)
    {
        <a asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category" asp-route-search="@Model.Search" asp-route-pageNumber="@(Model.PageNumber - 1)">prev</a>

    }
    @foreach (var p in Model.Pages)
    {
        if (p == -1)
        {
            <span class="three-dots">
                ...
            </span>
        }
        else
        {
            <a asp-action="Index" asp-route-search="@Model.Search" asp-controller="Home" asp-route-category="@Model.Category" asp-route-pageNumber="@p" class=@(p == Model.PageNumber ? "active" : "")>@p</a>
        }

    }
    @if (Model.NextPage)
    {
        <a asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category" asp-route-search="@Model.Search"  asp-route-pageNumber="@(Model.PageNumber + 1)">next</a>
    }

</div>